.home {
    height: 100vh;
    background: url(../images/desk.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 80px 0px 15px 0px;
}

.home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 125, 187, 0.8);
    opacity: .8;
    z-index: 1;
}

.home-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.photo-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid white;
}

@media (max-width: 556px) {
    .photo-container {
        width: 180px;
        height: 180px;
    }
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.home-item {
    margin-bottom: 40px;
}

@media (max-width: 1270px) {
    .home-item {
        margin-bottom: 20px;
    }
}
.home-item:last-child{
    margin-bottom: 0px;
}

.name {
    font-weight: 900;
    font-size: calc(50px + 16 * (100vw / 1270));
    letter-spacing: 0.05em;
    line-height: 1.2em;
    padding: 0px 15px;
    text-align: center;
}

@media (max-width: 767px) {
    .name {
        font-size: calc(40px + (16 + 16 * 0.7) * ((100vw - 320px) / 1270));;
    }
}

.qualification {
    font-weight: 500;
    font-size: calc(20px + 16 * (100vw / 1270));
    letter-spacing: 0.05em;
    line-height: 0.9em;
    padding: 0px 15px;
}

.download-resume-button {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: 0.5s ease all;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

.download-resume-button:hover {
    background-color: #fff;
    color: rgba(33, 125, 187, 0.8);
}

.scroll-down {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
       transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

